.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shareIcon{
    position: absolute;
    top: 44px;
    right: 352px;
    cursor: pointer;
}

.moreIcon{
    display: none;
    position: absolute;
    top: 44px;
    right: 150px;
    cursor: pointer;
}

#profile__img{
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 50%;
}

.header > span{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
    margin-top: 24px;
}

#slack{
    visibility: hidden;
}




/*============== MEDIA QUERIES (MEDIUM DEVICES) ie. tablets ============= */
@media screen and (max-width: 1024px) {
    .shareIcon {
        display: none;
    }

    .moreIcon{
        display: flex;
    }
}